@import "tailwindcss";

/* Theme variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tailwind inline theme extension */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* now Tailwind recognizes font-orbitron */
  --font-orbitron: var(--font-orbitron), sans-serif;
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Base styles */
body {
  background: var(--background);
  color: var(--foreground);
}
